// Background colors
$background-primary: #121212;
$background-secondary: #1e1e1e;
$message-sent-bg: #2d7d9a;
$message-received-bg: #262626;
$border-color: #333333;

// Texts
$text-primary: #e0e0e0;
$text-secondary: #a0a0a0;

// Actions and Linkes
$action-button-bg: #3a8dff;
$link-color: #5dade2;

// Status
$status-online: #44d700;
$status-offline: #777777;

//Error
$error-color: #b33939;
